openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
- name: Расписание рейсов между станциями
  description: Расписание рейсов между станциями
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: сдвиг относительно первого рейса в ответе
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: ограничение на количество рейсов в ответе
        required: false
        schema:
          type: integer
          default: 100
      - name: station_types
        in: query
        description: тип станции
        required: false
        schema:
          type: array
          items:
            type: string
      - name: transport_types
        in: query
        description: тип транспортного средства
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/search/:
    get:
     tags:
     - getBetweenStations
     summary: Расписание рейсов между станциями
     operationId: getBetweenStations
     parameters:
     - name: apikey
       in: query
       description: API key
       required: true
       schema:
         type: string
     - name: from
       in: query
       description: код станции отправления
       required: true
       schema:
         type: string
     - name: to
       in: query
       description: код станции прибытия
       required: true
       schema:
         type: string
     - name: format
       in: query
       description: json или xml
       required: false
       schema:
         type: string
     - name: lang
       in: query
       description: язык
       required: false
       schema:
         type: string
     - name: date
       in: query
       description: дата
       required: false
       schema:
         type: integer
     - name: transport_type
       in: query
       description: тип транспорта
       required: false
       schema:
         type: string
     - name: system
       in: query
       description: система кодирования параметров to и from
       required: false
       schema:
         type: string
     - name: show_systems
       in: query
       description: система кодирования для ответа
       required: false
       schema:
         type: string
     - name: offset
       in: query
       description: сдвиг относительно первого рейса в ответе
       required: false
       schema:
         type: integer
     - name: limit
       in: query
       description: ограничение на количество рейсов в ответе
       required: false
       schema:
         type: integer
     - name: add_days_mask
       in: query
       description: запрос календаря хождения рейсов
       required: false
       schema:
         type: boolean
         default: false
     - name: result_timezone
       in: query
       description: часовой пояс
       required: false
       schema:
         type: string
     - name: transfers
       in: query
       description: признак запроса маршрутов с пересадками
       required: false
       schema:
         type: boolean
         default: false
     responses:
       "200":
         description: success
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Stations'
  /v3.0/schedule/:
    get:
      tags:
      - getScheduleOnStation
      summary: Расписание рейсов между станциями
      operationId: getScheduleOnStation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: integer
      - name: transport_type
        in: query
        description: тип транспорта
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: направление
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: прибытие или отправление
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: коды в ответе
        required: false
        schema:
          type: boolean
          default: false
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: система кодирования для параметра station
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/thread/:
    get:
     tags:
     - listOfStations
     summary: Список станций следования
     operationId: listOfStations
     parameters:
     - name: apikey
       in: query
       description: API key
       required: true
       schema:
         type: string
     - name: uid
       in: query
       description: идентефикатор нитки
       required: true
       schema:
         type: string
     - name: from
       in: query
       description: код станции отправления
       required: false
       schema:
         type: string
     - name: to
       in: query
       description: код станции прибытия
       required: false
       schema:
         type: string
     - name: format
       in: query
       description: json или xml
       required: false
       schema:
         type: string
     - name: lang
       in: query
       description: язык
       required: false
       schema:
         type: string
     - name: date
       in: query
       description: дата
       required: false
       schema:
         type: integer
     - name: show_systems
       in: query
       description: коды в ответе
       required: false
       schema:
         type: boolean
         default: false
     responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
     get:
      tags:
      - nearestSettlement
      summary: Ближайший город
      operationId: nearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/carrier/:
     get:
      tags:
      - infoCarrier
      summary: Информация о перевозчике
      operationId: infoCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: integer
      - name: system
        in: query
        description: текущая система кодирования
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/stations_list/:
     get:
      tags:
      - stationList
      summary: Список всех доступных станций
      operationId: stationList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/copyright/:
     get:
      tags:
      - copyright
      summary: Копирайт Яндекс Расписаний
      operationId: copyright
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: true
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
